# Backend
API/bin/
API/obj/
API/appsettings.Development.json

# Frontend
ecommerce-ui/node_modules/
ecommerce-ui/build/
ecommerce-ui/.env

# ECommerceStore Folder
.vs/

# General
*.user
*.suo
*.cache
*.log
.DS_Store
